body {
  background-color: #F0E9D2;
}

hr {
  border-color: #181D31;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #678983;
}

h3 {
  color: #678983;
}
